Django==5.2.6
django-cache-url==3.4.5
django-ckeditor==6.7.3
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
environs==14.3.0
marshmallow==4.0.1
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
whitenoise==6.9.0