{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <br/>
    <header class="bg-light py-5 text-center shadow-sm">
        <div class="container">
          <h1 class="display-4 fw-bold text-primary">Assalomu alaykum!</h1>
          <p class="lead text-muted">
            Sunnatjon Arslonovning shaxsiy blogiga xush kelibsiz.
          </p>
          <p class="mb-4">
            Bu yerda siz qiziqarli real-hayotdan olingan, manfaatli maqolalarni o'qish imkoniga ega bo'lasiz!
          </p>
          <a href="{% url 'article_list' %}" class="btn btn-lg btn-primary shadow">📖 Postlarni ko‘rish</a>
        </div>
    </header>
      
{% endblock content %}